[2018-10-08 01:30] rocky opened #1 "Revise for next Mythril Platform API"
Note: this will depend on armlet and API updates.

[2018-10-08 01:33] rocky opened #2 "Revise for Truffle 5"
Use truffle5  help system.
Move code out of core and into this npm package
Get the npm package into npmjs

[2018-10-08 01:37] rocky opened #3 "Properly fix assembly-to-source-code mappings"
Currently uses remix. "truffle debugger" should have the same thing.

[2018-10-08 01:38] rocky opened #4 "Add linter (solhint) into the mix"

[2018-10-08 01:39] rocky opened #5 "Put in PR for necessary truffle-core changes"
And until then use patch-package to do so.

[2018-10-08 02:15] rocky opened #6 "Revise report to include SWC numbers"

[2018-10-08 02:15] rocky opened #7 "Create new videos with SWC in reports"
Needs to be done in advance of Nov 10 when Tom will be presenting in Japan

[2018-10-12 01:37] #4 closed, assigned to rocky

[2018-10-16 02:46] rocky opened #8 ""analyze" should call compile when it is necessary."
Since this code may be used at devcon4, this will likely be problem cause.

[2018-10-18 23:36] rocky opened #9 "Handle multiple contracts more gracefully."
This will need some coordination with the Mythril Platform API.

Right now we use the first contract found in the truffle build/contracts/xxx.json file.
UEscaping the JSON source text right now just handles \\n -> \n. Do we need to do other kinds of \\ escapes.

[2018-10-19 12:41] rocky opened #11 "Speed up loading of truffle+analyze"
Loading truffle+analyze is noticably slow even for things that don't involve analysis. This is because it is a large javascript project.

truffle's javascript is somehow bundled and minimized before distribution. We should do the same.

[2018-10-19 13:15] #2 closed, assigned to rocky

[2018-10-20 12:57] rocky opened #12 "Revise for JWT Authentication"
This will start after devcon4 and will be in conjunction with backend API changes.

Work to be done by topcoder via Sergey.

[2018-10-24 15:38] #8 closed, assigned to rocky

[2018-10-24 21:29] #6 closed, assigned to rocky

[2018-11-06 22:14] rocky opened #16 "Run analyze asynchronously in develop mode"
SInce Mythril analyses can be slow, we'd like to run them asyncrhonously, i.e. not poll.

Change add a hook in the `develop` console to check the status of previous runs.

[2018-11-08 08:16] rocky opened #17 "Add CI tests"

[2018-11-08 08:18] rocky opened #18 "Add unit tests"
There are currently some mocha tests. But we need to cover more things.

[2018-11-08 08:23] rocky opened #19 "Check code coverage in testing"

[2018-11-08 08:32] rocky opened #20 "Better npm package automation"
Right now there are a number of steps we need to do to create a new truffle-analyze and truffle-plus-analyze package. Automate this better to reduce the effort for a release.

[2018-11-19 04:43] rocky opened #21 "Add Truffle CLI integration tests"
@fgimenez added CI testing (via docker) which is awesome. However it would be nice to be able to do that locally and without having to run/install docker. (Although if that's what you want to do - great!)

What I started to do in #85 was to try to pull out the commands in CI into a shell script so that this could be run indepnedently. And then that common shell script could be used locally as well

[2018-11-29 10:10] rocky commented on #20
Will be integrating into 5.0.0-beta2 plugin system.

[2018-11-29 10:10] #20 closed

[2018-11-29 10:21] rocky opened #22 "Revise for truffle 5.0.0-beta2"

[2018-12-25 11:58] rocky commented on #12
Done a while ago.

[2018-12-25 11:58] #12 closed

[2018-12-25 12:01] rocky commented on #22
Have released on npmjs.org

[2018-12-25 12:01] #22 closed

[2018-12-25 12:02] rocky commented on #3
Added routines to make remix libs handle current ast.

[2018-12-25 12:02] #3 closed

[2018-12-25 12:03] rocky commented on #5
truffle uses run plugin now.

[2018-12-25 12:03] #5 closed

[2018-12-25 13:09] rocky commented on #11
Since this is now a "run" plugin this is now a truffle issue if it is to be addressed.

[2018-12-25 13:09] #11 closed

[2018-12-25 13:12] rocky commented on #1
@daniyarchambylov the API for the next iterations was finalized Dec 22. I need to figure out how to get you access to that.

[2018-12-25 13:55] rocky opened #33 "Update package.json for minimum nodejs version"

[2018-12-26 02:37] daniyarchambylov commented on #19
Done!

[2018-12-26 02:37] #19 closed

[2018-12-26 02:38] daniyarchambylov commented on #17
Already done.

[2018-12-26 02:38] #17 closed

[2018-12-26 02:48] daniyarchambylov commented on #9
@rocky  I've opened PR #34, please look it.
With these changes truffle analyze can collect reports for multiple smart contrast from Mythril Platform API concurrently and show the results on stdout upon completion.
I strongly believe it is a good improvement to what truffle-analyze can do right now.
We can use this approach to handle analyze smart contracts until Mythril Platform API will be able t

[2018-12-26 02:52] daniyarchambylov commented on #33
I'm not really sure what you mean by `Update package.json for minimum nodejs version`. Node version  doesn't mention in package.json. Perhaps we  can update Readme file and mention minimum node.js version required to run  truffle-analyze successfully.

[2018-12-26 02:56] rocky commented on #33
I just did a google search: https://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-packages-json

[2018-12-26 04:00] daniyarchambylov opened #35 "Display name of the smart contract in truffle-analyze reports"
When  truffle-analyze gerates issue reports for smart contract it displays only path to smart contract file but not which smart contract  is poorly written. We need to display contract name somehow.
Suggestion:
*Before:*
[code]

*After`
[code]

[2019-01-02 23:47] rocky commented on #18
Some work has been done on this. Will revise the testing issue with respect to coverage in a future issue.

[2019-01-02 23:47] #18 closed

[2019-01-05 00:38] #33 closed

[2019-01-05 00:38] #9 closed

[2019-01-05 00:42] rocky opened #39 "What's with truffle-workflow-compile writeContract?"
In order to get the code to work with truffle-workflow-compile, I cut and pasted https://github.com/ConsenSys/truffle-analyze/blob/master/helpers.js#L225-L245

Please figure out what's up. Why that is now needed and what's the right way to do.

[2019-01-10 00:18] rocky opened #40 "Give a warning when no contract (other than migrations) exists in truffle project"
When there isn't a contract other than a migration in a truffle project `truffle run analyze` will jst silently do nothing. It should warn that there isn't a contract.

[2019-02-01 03:48] rocky commented on #1
Done.

[2019-02-01 03:48] #1 closed

[2019-02-01 03:58] rocky opened #50 "Duplicate reports due to stale JSON build files"
getTruffleBuildJsonFiles() of lib/trufstuf.js should not pick up stale JSON artifacts.

If the JSON file is older than the corresponding Soilidity source file, then this file is stale and should not be considered.

Here is how this can happen. Let assume `xxx.sol` as a single contract named `Contract1`.

* `truffle compile xxx.sol`.   This creates `Contract1.json`
* edit `xxx.sol` and change the c

[2019-02-04 04:47] rocky opened #56 "TypeError: this.writeContracts is not a function"
[code]

[2019-02-04 04:47] rocky commented on #56
I have a feeling this is a truffle version mismatch thing.

[2019-02-04 13:03] rocky commented on #56
Fixed via f7108199e015ef7486be60ff139ee33d1754ef65

[2019-02-04 13:03] #56 closed

[2019-02-04 13:04] rocky opened #57 "Migrations.sol needs to be filtered out in sending"
[code]

[2019-02-05 03:19] daniyarchambylov commented on #57
Fixed in https://github.com/ConsenSys/truffle-security/commit/b5572b11068795a88b4d20ba2bc5a10614a597d5

[2019-02-05 03:19] #57 closed

[2019-02-05 03:20] #50 closed

[2019-02-13 15:37] imthatcarlos opened #66 "Line numbers don't always match source code"
running `truffle run verify` produces:

![screen shot 2019-02-12 at 11 32 42 am](https://user-images.githubusercontent.com/20136572/52722971-a9a21c80-2f7a-11e9-98a9-e4a8ef33afc9.png)

and the associated code (up to line 54):
[code]

1. the line numbers don't always  seem to match up with the appropriate source code... or am I reading that wrong? (lines 1 and 3) [here is the truffle artifact](https

[2019-02-13 15:52] rocky commented on #66
Thanks! Will look at soon.

[2019-02-14 10:19] thec00n opened #68 "Submit Solidity standard ASTs (Legacy and Compact)"
Currently truffle-security submits truffle flavoured ASTs that are incompatible with tools that process standard Solidity ASTs:

- Imports are handled differently in truffle flavoured ASTs. Solidity standard compile artifacts provide `sources` and for each source it generates independent Legacy and Compact AST objects. Each source file has a SourceUnit at the root and as children contracts, pragma

[2019-02-14 10:44] rocky commented on #68
Gerhard avows:

I would be grateful if you would go into detail so the we can fully see what the difference is. Perhaps create a gist of the difference like did for https://gist.github.com/rocky/f7ac558aa7b4b4eaff0743c7f8bbc9d4 ?

With details, we are also in a better position to getting this addressed in truffle itself where this would be a much better fix for everybody.

[2019-02-19 02:47] rocky commented on #66
Maybe not as soon as I would have liked.

The two internal errors have been fixed and I believe if you run again with truffle-security, version 2.0.0 that will be gone.

I would like to track down the location errors. The problem with this though is that this is a large set of contracts and files and although you have provided the truffle artifcat, I don't have access to all of the files needed to

[2019-02-19 18:48] imthatcarlos commented on #66
@rocky if you'd like, I can give you access to the repo so you can have my exact setup. Is that too much or what do you think?

[2019-02-19 19:08] rocky commented on #66
Sure give me access to the repo - thanks.

[2019-02-19 19:19] imthatcarlos commented on #66
Just did, check out the branch `mythx`

[2019-02-19 20:46] nbanmp opened #72 "Missing password and ethAddress should not show traceback"
A relatively common issue might be setting `MYTHX_ETH_ADDRESS`, but not `MYTHX_PASSWORD`, or vice versa. We currently error and display a complete traceback that does contain enough information to determine the issue, but a concise and clear error message and graceful exit is more appropriate.

[code]

[2019-02-19 22:03] rocky commented on #72
Thanks! @daniyarchambylov would you please fix.

[2019-02-20 00:05] rocky commented on #66
@imthatcarlos thanks - with this I have been able to easily reproduce the bug and have enough information so I can pass it off to the responsible parties here.

If you are curious, these problems relate interaction with the fuzzer and how the information it has gets melded back with other issues.

RIght now I have no time estimate on when this will get addressed, I'll keep you posted.

[2019-02-20 16:06] rocky commented on #66
It looks like addressing and presenting it ina meaningful way is going to take some discussion.

I am told that the difficulty associating the bytecode offset with the source code  is as a result of a dynamically-generated function call address.

So in the meantime here is some information that I hope may be useful. This is the raw output from the fuzzer in JSON format:

[code]

[2019-02-20 21:15] #72 closed

[2019-02-21 16:44] imthatcarlos commented on #66
thanks for the comprehensive answer! appreciate it.

[2019-02-21 18:00] rocky commented on #40
Has been addressed.

[2019-02-21 18:00] #40 closed

[2019-02-21 18:03] rocky commented on #39
Was transient truffle version thing

[2019-02-21 18:03] #39 closed

[2019-02-21 21:21] nbanmp opened #79 "Display the rerrors of multiple analysis requests distinctly"
`doAnalysis` clobbers together the results of all the analysis requests, and errors can not be displayed with their associated analysis requests.

Print errors and results distinctly, with information about the analysis request next to the error or result itself.

[2019-02-22 02:33] daniyarchambylov commented on #79
@nbanmp  thanks  for raising this issue.  If you think this is much convenient way to show results to user then I'd be glad to help. But  there are few issues you might run into.

Becuase one solidity file might contain multiple contracts truffle outputs compile results into separate json files. Then we use details of contract to MythX API. So what happens is that you have multiple responses point

[2019-02-22 02:40] nbanmp commented on #79
The main issue that I see is that it's not clear which analysis request errors belong to. For now, I'll continue to merge multiple analyses for a single file, but when a timeout or another error occurs, I'd specify the file/analysis request when printing the errors.

[2019-02-22 16:26] nbanmp opened #81 ""These smart contracts were not found" error is ambiguous."
`These smart contracts were not found: <contract1> <contract2>` is printed both when attempting to analyze a contract that does not exist and when there an error or timeout occurs during the analysis of a contract.

Perhaps it would be clearer if two error messages were printed. One before analysis begins that prints the names of contracts that were not found, and another message at the end that p

[2019-02-25 07:30] #16 closed

[2019-02-25 17:16] rocky opened #86 "Add --color --no-color option"
eslint and many other command utilities which add ansi color output, also have an option to turn this off. eslint in particular has options `--color` and `--no-color`.

[2019-02-25 17:17] #79 closed

[2019-02-25 17:38] rocky opened #87 "When hitting Ctl-C (SIGTERM) in the middle of a long report, completed analysis should return already accumulated reports"

[2019-02-25 19:25] nbanmp commented on #87
Will https://github.com/ConsenSys/truffle-security/pull/60 take care of this?

[2019-02-25 20:53] rocky commented on #87
#60 probably needs fixing up due to changes on the API side.

Even with this, although #60 ay ameliorate the problem, this is a little bit different.

WIth respect to the fixing up...

One thing we are doing now since #60 based on API chnages, is eliminating duplicate issues that can occur because two contracts can refer to the same common subroutine from another contract in another file.  So to d

[2019-02-26 19:16] nbanmp commented on #86
https://www.npmjs.com/package/colors

The colors package that we use automatically implements a `--no-color` option for us. :joy: We just need to document it I guess.

[2019-02-27 17:40] #86 closed

[2019-03-01 19:40] #81 closed

[2019-03-02 17:48] rocky opened #95 "In progress bar distinguish initial delay from rest?"
The progress bars are fantastic Something that might make them even more awesome would be to distinguish the part where we are in the inital delay versus the part after that. One possibility is another color, another is a different symbol than '*'.

This way people can gauge whether and how to adjust the initial delay.  Thoughts @tagomaru ?

[2019-03-04 06:40] tagomaru commented on #95
@rocky
OK, I will think about it, however I am not clear about `initialDelay` yet.

According to [Improving Polling Response](https://github.com/ConsenSys/armlet#improving-polling-response), it is a parameter that armlet waits before attempting its first status pool.

However I could not find whether this parameter affects to it...

https://github.com/ConsenSys/armlet/blob/master/index.js#L118

If

[2019-03-04 07:43] rocky commented on #95
We want to encourage good guessing of initial delay. And in IDE's we probably will be using historical data to do so.

The following is from `README.md`. Does this help?

There are two time parameters, given in milliseconds, that change how quickly a analysis result is reported back:

* initial delay
* maximum delay

The initial delay is the minimum amount of time that this library waits before at

[2019-03-04 07:48] rocky commented on #95
The followiing used to be in README.md but was removed because it was felt that this was too verbose:

Until we have a websocket interface so the server can directlypass back results without any additional action required on the server side, your REST API requires the client to poll for status. We have
seen that this polling can cause a lot of overhead, if not done judiciously. So, each request is

[2019-03-04 22:28] nbanmp opened #97 "[object Object] Internal MythX Errors"
Because of how we are concatenating error messages, they are sometimes not displayed correctly.

e.g.
[code]

[2019-03-04 22:37] nbanmp opened #98 "Inconsistent Timeouts"
Sometimes analysis times out before it reaches the specified `--timeout` duration.

[code]

Analysis running significantly longer than the default timeout duration has also been reported.

[2019-03-05 01:32] tagomaru commented on #97
@nbanmp
I have not been able to reproduce it. Could you add the following code behind [here](https://github.com/ConsenSys/truffle-security/blob/master/helpers.js#L359) to see the contents of that object?
I will check it later.

===
config.logger.log(JSON.stringify(err, null, 2));
config.logger.log(typeof err);
===

Thx!

[2019-03-05 03:03] tagomaru commented on #95
@rocky

Sorry, but still strange for me.

According to [this](https://github.com/ConsenSys/armlet/blob/master/lib/analysisPoller.js#L167-L189), do you mean that initialDelay parameter is not for first waiting time itself but for affecting parameter to first waiting times?
(it also affects all of the waiting times, though)

[2019-03-05 03:37] rocky commented on #95
That code occurs only after we discover the result is not cached and have waited for the initialDelay has been waited for.

Suppose you have 6 polling opportunites that look like this:

[code]

And you want to minimize the number of polls and the number of delay after a MythX job completes?
Suppose based on past history the completion time is in this range:

[code]

If you fit the two together you

[2019-03-05 03:54] tagomaru commented on #95
@rocky
Yeah, I understood that, but what i cannot understand is

Which code works for this?

[2019-03-05 03:56] tagomaru commented on #95
Accoding to [this](https://github.com/ConsenSys/armlet/blob/master/index.js#L126-L128),
there seems to be no wating during initialDealy.

[2019-03-05 05:57] rocky commented on #95
Ah - yes you are correct - that is a bug! there should be an initial delay done in analysisPoller.

[2019-03-05 06:00] tagomaru commented on #95
Oh,,, will i fix it?

[2019-03-05 06:26] tagomaru commented on #95
By the way, if this is fixed, the number of polling except fist one should be changed from 10 to 9?
The image is like below.

1. First waiting time is initialDelay.
2. The rest waiting times are calculated base on [this](https://www.wolframalpha.com/input/?i=n+%3D+sum+(x*i)**2,++i%3D1+to+9+solve+for+x).

I thinks sqrt(385) should be changed to sqrt(285).

[2019-03-05 06:51] rocky commented on #95
If you would - then please do.

The 385 is for 10 and then 285 is for 9.  There is nothing magic about either 9+1  or 10+1.  I had thought for analysis in associating maxumum number of polls per analysis request 10 might be an easy number and it looks like right now I have 11. So sure if in  that you want to go with 9 and 285, that's fine.

[2019-03-05 06:55] tagomaru commented on #95
@rocky
OK, thanks for your comment.
I will think about it and fix it soon.

[2019-03-06 11:26] shashank-srikant opened #102 "Unable to retrieve correct line numbers from corresponding srcMaps"
## Summary
I'm trying to retrieve line numbers from the srcMaps which mythril-classic provides, as well srcMaps pertaining to some select nodes in a contract's AST. In doing so, in some cases,
- I am unable to retrieve line numbers (the default of -1 is returned).
- in cases where line numbers are successfully retrieved, the line numbers do not match the source code properly

## Details
### Steps

[2019-03-06 11:35] rocky commented on #102
Thanks for the detailed report. I will look at this when I get a chance.

I note also that this isn't strictly related to truffle security or its functioning, but rather you would like to use truffle-security more as a library.

Extracting code from truffle-security and turning that extraction into a proper library is one of the things that we will be doing over the next couple of months. And no d

[2019-03-07 14:08] rocky opened #104 "Convert lib/refresh.js to use isomorphic-fetch"

[2019-03-07 14:10] rocky commented on #104
Wrong project.

[2019-03-07 14:10] #104 closed

[2019-03-08 04:34] thec00n opened #106 "Add CI option"
It be great to be able run truffle-security in a Continuous Integration setup such as CircleCI. A user could run a full analysis as a separate CI step, e.g.

`truffle run verify --ci --fail-on=High`

In the above example truffle-security runs the full analysis and checks if there are any High severity findings present in the analysis report and if so exits with 1 and prints the issues that failed

[2019-03-08 04:48] rocky commented on #106
Having MythX-enabled CI has long been in the plan, we may even have gitcoin bounties for this as part of the upcoming Ethereal Summit.

But this really isn't about truffle per se. it would be about _any_ Solidity file.

If it happens to be in truffle and we can capture that, all the better. But it could be part of a VSCode project which uses just a different way to organize solidity files. Or it c

[2019-03-09 12:35] rocky opened #109 "FInd and fix what is problably a bug in JWT refresh"
When running against aragonOS for the first time (no caching) we seem to get conscutive errors that are probably associated with the way truffle-security handles refresh. track down and fix.

For example a recent run gave:

[code]

[2019-03-09 12:40] rocky commented on #97
I suspect this is related to #109 which may explain why it is seen for some and not other and at different places.

I have observed that once the initial 10 minute timeout period for the first access token occurs and a refresh successfully occurs, you have a day before the next (refreshed) access token times out.

[2019-03-09 13:25] rocky commented on #109
An expanded version of the error is:

[code]

[2019-03-09 14:11] rocky commented on #68
This was done a while ago. Not exactly sure how you get "compact", but if that's not done, open a new issue narrowing what remains.

[2019-03-09 14:11] #68 closed

[2019-03-10 01:52] rocky commented on #102
There is a lot of detail here, but a a lot of work to try to put it together to make it make sense. I have already spent more trying out how to piecing together fragments of information. (Pro tip: formatted json is much nicer to look at than one line of JSON that your gists have.)

Reporting a bug really isn't that hard. As rms wrote a while back you just give complete input and complete output. A

[2019-03-10 13:35] tagomaru commented on #98
see https://github.com/ConsenSys/armlet/pull/88

I think this occured because armlet did not use initialDelay to wait for first polling.
armlet uses initialDelay which is set at https://github.com/ConsenSys/armlet/blob/c12a62be790cb88be637fb97b8743f0ad956af52/index.js#L126.

If you set 30sec to timeout, remainTime was unfortunatelly 0 according to [this logic](https://github.com/ConsenSys/armlet/b

[2019-03-10 13:41] rocky commented on #98
@nbanmp please double check this works for you and then close if satisfied.

[2019-03-10 13:53] shashank-srikant commented on #102
Thanks.
Have added the file i use to call the `byteOffset2lineColumn()` in `truffle-security/lib/issues2eslint.js`

https://github.com/shashank-srikant/mythril-line-numbers

this isn't a truffle project; just a javascript being invoked through `node`.
running this file reproduces the issue i have described above.
let me know if this suffices.

thanks.

[2019-03-10 14:54] rocky commented on #102
Much better, but alas, still could use more. Specially code that creates that data using truffle-security.

Bugs here are for truffle-security so if you want to report a bug here, you should start off with a valid truffle project. (That makes it easy for use to work on and fix things.)

Adding additional code as suggested and you've done is helpful, but not sufficient.

This might not be a problem

[2019-03-10 15:13] shashank-srikant commented on #102
i did not use any truffle-security code to generate the data.

`byteOffset2lineColumn( )` is the entry point in my workflow. i generate data using the `solc` and `myth` commands i have listed in the repo's readme. i then invoke this truffle-security library in the manner i've described in the script on my repo.

if this is not sufficient for it to be raised as a truffle-security issue, could you s

[2019-03-10 15:31] shashank-srikant commented on #102
meanwhile, let me try recreating this through truffle.

[2019-03-10 15:45] rocky commented on #102
Right now, sadly,  there is no place. Over the next couple of months we will be working on a javascript library (or SDK) that includes all of the important parts here and from other projects.

[2019-03-10 15:52] rocky commented on #102
Hmm... let me understand something.  Is ths situation that by some means other than MythX you are getting a bytecode offset and are expecting to get a source location from that?

If that's the case there will undoubtably be places in bytecode that aren't associated with sourcecode.

For example if you are working with deployed bytecode, there is some boilerplate code to load the contract. Because

[2019-03-10 16:10] shashank-srikant commented on #102
i currently have two use-cases,
- for the bytecode offset returned by `mythril-classic` (which presumably is the same as `MythX`? not sure.), i want to pull out corresponding source locations.
the example in the repository i have pasted above demonstrates this use-case.
even when trying to do this, i find a `-1` being returned. it then seems like a functionality issue with MythX, truffle-security

[2019-03-10 16:36] rocky commented on #102
MythX and Mythril classic are related but different.

So let's break down each of these cases:

So again give the full command you typed and the full output you got.

I think you're going to have to live with -1. I suppose you could try opening an issue with solc, but I suspect what I wrote above is going to be the situation.

[2019-03-10 16:42] shashank-srikant commented on #102
**input**:
(mentioned in https://github.com/shashank-srikant/mythril-line-numbers/blob/master/README.md)
`myth -xo jsonv2 data/{filename}.sol:{contractname} > data/{filename}.sol:{contractname}.json`
where
`filename`: `sol_0xf6da07a8ffb5683314715d8c7a1a5c952b4e74ca`
`contractname`: `StandardToken`

**output**:
https://github.com/shashank-srikant/mythril-line-numbers/blob/master/data/sol_0xf6da07a8

[2019-03-10 17:36] rocky commented on #102
For what it's worth, running truffle-security gives:

[code]

So that suggests that there's something in your code that isn't quite right. We are not set up for assistence with how to develop your programs using bits and pieces of the code here.

Perhaps when we have a library or SDK maybe in a couple of months set up we will be in a better position to handle that.

In the meantime I hope you can

[2019-03-10 17:36] #102 closed

[2019-03-10 17:54] shashank-srikant commented on #102
i notice that this is analyzing the entire file, and not just the specific contract `StandardToken`?

could you please share the repository/truffle project you created and ran?
i got this error when trying to run `truffle-security` on the specific contract `standardToken`:
https://github.com/ConsenSys/mythx-developer-support/issues/16

thanks.

[2019-03-11 10:32] tagomaru commented on #106
My idea to implement it quickly is like below.

1. --fail-on option should be independent from CI. Maybe the value is either warning or error now.
2. Output some files (ex. json) regarding 'Internal MythX errors encountered:' and problems (means security issues). CI can check them after running truffle-security to find some error like timeout and security issues.

Do you think it makes sense?

[2019-03-11 11:17] rocky commented on #106
For CI kinds of things it makes more sense to have things directed through a configuration file, similar to eslint's `.eslintrc`,  our a circleci.yaml that controls Ci works and what kinds of warnings to give.

And perhaps this configuration then can be used whether or not CI was used. For example the configuration may be used to indicate that you don't want to hear about "floating pragmas" as wel

[2019-03-11 14:53] tagomaru commented on #106
@rocky
Thx for your comment.
ok i understand your thoughts. Keep discussing about how we can improve with CI.

[2019-03-11 17:29] hardlydifficult opened #114 "Fails to run with `Assertion failed: Cannot call unknown function compileJSON`"
When I attempt to use `truffle-security`, it fails with the following:

[code]

I'm running this against this open-source repo: https://github.com/unlock-protocol/unlock/tree/master/smart-contracts
Here's an example Travis CI build: https://travis-ci.com/hardlydifficult/unlock/builds/103944395

There's not really much detail here for me to follow up on.  Anything I could provide to help investigat

[2019-03-11 17:45] rocky commented on #114
What happens when you run `truffle compile` ?

[2019-03-11 17:48] hardlydifficult commented on #114
Compile works, as does truffle test.

[code]

[2019-03-11 17:50] rocky commented on #114
Interesting. So now if you run `truffle run verify` does it still try to download the compiler do you still get that error message?

[2019-03-11 17:52] rocky commented on #114
Sorry - scratch that. I see you did run that above.

How about if you do an `npm install -g truffle-security` instead?

[2019-03-11 17:53] hardlydifficult commented on #114
I tried, that gives me a different error - however I'm on Windows and this looks like it may be a Windows specific issue (I've hit similar before):

[code]

[2019-03-11 17:54] hardlydifficult commented on #114
The Travis build I linked does not use `npx` and hits the first error, not this regular expression one.

[2019-03-11 17:56] rocky commented on #114
Ok. Keep me posted. Also attach the `truffle-config.json` and `truffle.json`.

[2019-03-11 17:58] hardlydifficult commented on #114
We only have the one, here:
https://github.com/hardlydifficult/unlock/blob/c26a403bc2059deee162bb1c67e1d9f88aaeff48/smart-contracts/truffle-config.js

[2019-03-11 18:28] rocky commented on #114
Thanks. The scenario while reasonable (running truffle-security inside TravisCI running docker container)  while a very reasonable tihng to do, is a little bit outside hoped level complexity, especially this early on.

 It will take me a while to see investigate what that message means and how I can replicate the problem.

If you explainwhat the "Windows specific error" was and how you fixed it, t

[2019-03-12 02:00] rocky commented on #109
Done in last release.

[2019-03-12 02:00] #109 closed

[2019-03-12 02:18] rocky commented on #66
Now that truffle-security 1.3.0 and armlet 2.2.0 have been released, would you try these out to see if problems are still there?

If not, then close the issue.

[2019-03-12 05:45] b-mueller opened #115 "Print the job UUID with MythX logs"
Provide the job UUID if MythX logs are printed. This helps us check up on the issue when the user opens a support ticket. E.g.:

[code]

[2019-03-12 07:33] rocky opened #116 "configuration file like .eslintrc or circlei.yaml"
It would be nice to have both a per-project and global configuration file to customize truffle-security behavior.

Personally, I prefer YAML over JSON, although javscript (which is what truffle uses) is fine too.

The kinds of things that this file could include:

* ignoring specific SWC's or SWC's to some degree of specificity (file, contract, location)
* ignoring below a specific severity level

[2019-03-12 07:37] rocky opened #117 "Setting --debug option should also set --no-progress"
@tagomaru informs that we can't really support both `--debug` and `--progress`. So setting `--debug` should turn off `--progress`.

[2019-03-12 07:48] rocky opened #118 "On cli set return code to 0 if no error"
This should also assist calling shell scripts that might be used in Ci testing.

A possibly slick idea is to add one for every reported errors. So if there is one warning and two errors the return code might be three. If however we've decided not to report warnings, then the return codee would be 2. Note that the maximum value of a return code is 255.

[2019-03-12 08:02] tagomaru commented on #117
@rocky
ok, i will work on it.

[2019-03-12 12:31] aquiladev opened #119 "ParserError: Source "..." not found: ENOENT: no such file or directory"
When I compile my project via ```truffle build``` everything works, but when I execute ```truffle run verify``` I have amount of errors on compilation:
[code]

truffle config is pretty standard
[code]

[2019-03-12 13:43] tagomaru commented on #117
See #120

[2019-03-12 13:52] rocky commented on #117
Fixed by 055a4dd  and #120

[2019-03-12 13:52] #117 closed

[2019-03-12 14:37] imthatcarlos commented on #119
I can confirm. Need to include a relative path to the libraries for this command to work. It would be great if we didn't have to :)

[2019-03-12 14:41] imthatcarlos commented on #66
I updated and still have the mismatched line numbers. You did mention it's difficult. FWIW:
[code]

[2019-03-12 14:41] #66 closed

[2019-03-12 15:18] rocky commented on #66
For the automated fuzz test messages we will be adding the UUID in there, see #115

I also opened an issue regarding what is _causing_ this problem, but that is not publically visible.

The line number problem, yes is going to take a while. The plan as I understand it right now is to just say that this was associated in code created by "new".

In an ideal world we would return the bytecode and off

[2019-03-12 15:22] b-mueller commented on #119
Hmm, usually if the project is already built, Truffle Security shouldn't recompile it at all. Can you try to run `truffle compile` before `truffle run verify`? Or is that already implied by `truffle build`?

[2019-03-12 15:43] imthatcarlos commented on #119
In my case, what happens is:
1. I compile the contracts successfully (excluding relative path for libs)
2. I run truffle verify
3. It seems to start to compile my contracts...
4. It doesn't produce any errors, and doesn't give the same output I was getting when I included related path to libs

[2019-03-12 15:50] rocky commented on #119
@b-mueller things have changed slightly in the latest version. Because we don't use truffle's compile artifact but our own, a `truffle compile` doesn't directly help `truffle verify`. `truffle verify` needs to do its own compile (adjusting for imported files), but it does it using the truffle libraries as much as it can.

But the good news is that if someone can come up with a small sample truffle

[2019-03-12 16:20] rocky commented on #35
Here are items that would be good to have in our custom report format:

* use SWC levels rather than eslint levels
* show end position
* show contract name
* not space limited? (tail as well as head)
* SWC ID url

Note that the markdown format in vscode-solidity may do some of this. So adding a markdown report format may be useful.

[2019-03-12 16:21] rocky opened #121 "Add option to produce markdown reports"
The vscode solidity plugin creates markdown format reports which are pretty complete. Perhaps we should have an option to allow this here as well?

See also #35 and #131

The current thought is to do this via [mythx-js-sdk](https://github.com/consensys/mythx-js-sdk).

[2019-03-13 08:24] tagomaru commented on #119
I got same kind of problem.

### Success case
[code]

### Error case
[code]

In the Error case, I got the below message.

 _"These smart contracts were not found: VulnerableChild"_

I guess it cannot consider about relative path for NPM package like zeppeline yet.

[2019-03-13 11:00] jo-tud commented on #119
Problem exists in this repo: https://github.com/Roger-Wu/DividendPayingToken

[code]

[2019-03-13 11:01] b-mueller commented on #119
Same error with [ENS project](https://github.com/ensdomains/ethregistrar):

[code]

[2019-03-13 12:08] aquiladev commented on #119
[code]
fixes the issue, but I expect it should work without ```./../node_modules/```

[2019-03-13 15:18] NoahMarconi opened #122 "Finds no problems with batchOverflow contract"
As a test case I copied over this contract locally and ran `truffle run verify`: https://etherscan.io/address/0xc5d105e63711398af9bbff092d4b6769c82f793d#code

This is the famous batchOverflow contract and the tool doesn't catch that there's an overflow vulnerability here.

[2019-03-13 17:04] rocky commented on #119
As it should be apparent from the above we are currnetly working on this.

[2019-03-13 20:49] rocky commented on #119
@jo-tud With respect to  https://github.com/Roger-Wu/DividendPayingToken here is what I am seeing:

[code]

In your log, it looks like this previously compiled. What step am I missing to get this to `truffle compile`?

(Since there are lots of other examples, I'll start with one of them, so this doesn't block me.)

[2019-03-14 01:17] b-mueller commented on #119
Hey guys, Rocky is on it. Will be fixed hopefully in the next few days, fingers crossed 🤞

[2019-03-14 07:54] jo-tud commented on #119
missing to get this to truffle compile?
npm install

On Wed, Mar 13, 2019 at 9:49 PM R. Bernstein <notifications@github.com>
wrote:

[2019-03-14 10:07] rocky commented on #119
Current plan is to do another release over the weekend of whatever we have by then.

There will be other small changes/improvements in that release. And as always, more to do in the pipeline.

[2019-03-14 13:51] imthatcarlos commented on #119
Awesome, thanks for the updates guys 👍

[2019-03-14 18:57] cache-monet commented on #7
Working with @bmmpxf to demo truffle-security.
Here are the clips we have so far (Mike will voice over them) https://drive.google.com/drive/folders/1tVM0ouU6cK9AZaHl0Qi3XAciCLl7Eac4

[2019-03-14 21:40] rocky commented on #119
For those of you who are up to it, please try out the master branch which has a proposed fix. Unless people find problems, I will be releasing this over the upcoming weekend.

Thanks for all of your help.

[2019-03-14 22:11] rocky opened #125 "Handle EthPM source code via truffle-resolve ?"
In https://github.com/ConsenSys/truffle-security/pull/124 we use `convertToAbsolutePath()` which is basically the same thing as truffle-resolve's resolver, or maybe a less-powerful one. In fact the first two parameters probably match exaclty.

Consider replacing `convertToAbsolutePath()` with truffle-resolver.resolve and/or figure out how to handle EthPM (if that's what EPMSource is about).

[2019-03-14 22:48] rocky opened #126 "Check that what we send to MythX is the optimal data for best analysis"
Right now we are only passing one sourceList to MythX even though we are capturing the entire list used in a file and in the right order. (And the AST's refer to this expanded information).

It is possible that right now we don't even need to pass a sourcelist at all and just the AST's will do. Or maybe it is better to pass the full sourcelist since we now should have this logged in the right orde

[2019-03-14 23:00] hardlydifficult commented on #114
Okay, the Windows specific error (and workaround) was https://github.com/trufflesuite/truffle/issues/1796#issuecomment-470228484

Then using a global install, I get an error saying a dependency is missing:
`find-cache-dir`

Install that and now the error is about locating node modules:
[code]

Just to confirm, `truffle compile` still works fine.

[2019-03-15 01:54] rocky commented on #115
And as @smarx observed (and I missed before) the file name should be there too.

[2019-03-15 09:02] rocky commented on #114
Thanks for keeping with this and the update.

Both of these problems we have seen and are fixed in the current master branch. A new release will probalby go out within 24 hours.

(The `find-cache-dir` problem is simply a missing dependancy in package.json that we caught [in one of _our_ CI runs](https://circleci.com/gh/ConsenSys/truffle-security/499).)

[2019-03-15 10:06] b-mueller commented on #119
FYI, try this:

[code]

[2019-03-15 15:51] tagomaru commented on #118
I think this ideas may be better to implement on out of return code. CI users may want to hook other problem such as timeout. That is why I would propose to return 1 always at the below cases.

- when vulnerabilities found.
- MythX logs:
- Internal MythX errors encountered:
- any other errors as possible

Any ideas?

[2019-03-15 17:20] rocky opened #127 "Hide MythX internal errors"
Internal errors that start `info:` are intended to be normally hidden from front-end users.

[2019-03-15 18:58] rocky commented on #118
All of this is good stuff but will be in a separate gitcoin bounty, where we tackle a complete CI solution head on. Right now the main thing that is needed is a nonzero return code when there is _any_ sort of problem.

Threshhold setting and what constitutes a problem again will be in a separate gitcoin challenge.

[2019-03-15 22:15] rocky commented on #118
It occurs to me that this might be a little bit tricker than I had thought because this is getting run from inside truffle.

 If run from a truffle development console, then we can't just exit. If not then we
could possibly use `process.exit()`, but better would be to do whatever it takes to get truffle to return non-zero after its promise finishes.

[2019-03-16 00:20] rocky commented on #118
I've asked on various truffle groups about if/what the proper thing to do is.

However for expediency, let's just call process.exit if environment variable CI is set. I checked both TravisCI, CircleCi and Appveyor. By default, they all set this. Feel free to check other CI environments.

What I don't like about the enviornment variable name CI, is this isn't strictly a CI thing, it is anything tha

[2019-03-16 09:54] rocky opened #129 "Handle global NPM packages"
Right now we handle locally-install npm packages. But what if openZepplin is installed globally?

[2019-03-16 12:33] rocky opened #130 "Support EIP 82"
[Package and Dapp Descriptor Format - EIP 82](https://github.com/ethereum/EIPs/issues/82)

[2019-03-16 14:12] tagomaru commented on #118
Yes, i know it. I think there is no way to use anything other than process.exit (). I do not like process.exit () in terms of best pracitce, though.　

[2019-03-16 19:45] rocky commented on #115
Also showing the filename will help since all of the logs are aggregated as one.

[2019-03-16 21:35] rocky commented on #119
@aquiladev release 1.3.1 is now out. (If you "watch" the project, you can get release notes sent to you).

If this fixes the problem, close this issue. Otherwise let us know what is wrong.

Also note that in future releases we'll be addressing things like

* EthPM packages
* globally installed NPM packages
* EIP 82

and these are marked as separate issues now.

[2019-03-16 21:38] rocky commented on #114
Release 1.3.1 is out and this may address some of the problems addressed above.  (If you "watch" the project, you can get release notes sent to you)

[2019-03-17 03:03] sounak98 commented on #116
@rocky I would like to take this up if it's open.

[2019-03-17 03:22] rocky commented on #116
It is open.

[2019-03-17 04:28] tagomaru commented on #95
OK, i will work on it at a later date.
Howerver, [by this code](https://github.com/ConsenSys/armlet/blob/master/index.js#L133-L145), it may not make sense if refresh token occurs, since it waits again during intial delay time.

[2019-03-17 04:30] b-mueller commented on #116
Hey @sounak98! We have a bounty for this issue open on Gitcoin:

https://gitcoin.co/issue/ConsenSys/truffle-security/116/2610

Please apply for the bounty & I'll approve you ASAP!

[2019-03-17 04:31] rocky commented on #95
So that's a bug that we should fix. Note however that after the refresh is done there won't be another one for a day. So as a problem, it is not a big one.

[2019-03-17 04:32] tagomaru commented on #95
Yes. anyway after i work on this, users can notice whehter initial delay passed or not, which means users can notice whether the first response status is 'Finished' or not.

[2019-03-17 04:40] tagomaru commented on #129
This concept was implemented at [this PR](https://github.com/ConsenSys/truffle-security/pull/123/files) which did not be merged.

[2019-03-17 05:06] rocky commented on #129
So if we merge that, we are then good? Or does this need to be reworked?

[2019-03-17 05:07] tagomaru commented on #129
No, we already merged another one. This is not compatible for that. I work on it at a later date.

[2019-03-17 05:10] rocky commented on #129
The other thing to keep in mind is that if we use `truffle-resolve` things may change again. It might have to be worked into the NPM module instead of how it would be done now.

[2019-03-17 05:13] tagomaru commented on #129
Yes, thanks, i know.
I think we should refer to that to handle npm and EthPM at the same time.

[2019-03-17 14:15] aquiladev commented on #119
works for me, close #119

[2019-03-17 14:15] #119 closed

[2019-03-18 06:03] daniyarchambylov commented on #126
Right now sourceList is required. It will be unnecessary once Maru will fully support AST, it will generate sourceList by itself. I believe it isn't released yet. We have to wait for new release

[2019-03-18 08:14] rocky commented on #126
Ok. Gerhard however now says legacyAST is no longer needed.

Let's just keep this open until Maru et all gets improved.

[2019-03-19 07:18] rocky commented on #130
Possible combine with #129

[2019-03-19 07:19] rocky commented on #125
Possibley combine with #129

[2019-03-19 07:21] rocky commented on #127
Went out in last release and has been tested.

[2019-03-19 07:21] #127 closed

[2019-03-19 07:23] rocky commented on #97
Fixed by #110

[2019-03-19 07:23] #97 closed

[2019-03-19 17:30] barlock opened #133 "Can't verify contracts that import npm packages"
I tried installing `truffle-security` into my project and it's having a hard time compiling my contracts.

Might be possible that the `compat` version of truffle-compile is out of date?

**Steps to Reproduce**
Clone https://github.com/barlock/web3studio-bootleg/tree/truffle-security
(Specifically the `truffle-security` branch)

[code]

Error

[code]

**Details**
A normal `truffle compile` runs jus

[2019-03-19 18:12] nbanmp commented on #98
It seems to work.

[2019-03-19 18:12] #98 closed

[2019-03-20 07:52] b-mueller commented on #35
Cancelled the bounty on this as specifications aren't clear.

[2019-03-20 17:32] hardlydifficult commented on #114
Confirmed fixed.  Thanks!  I'm closing this now.

[2019-03-20 17:32] #114 closed

[2019-03-20 23:55] rocky opened #134 "Smart contract security plugin for Truffle Framework powered by MythX"
Throw out the old, ring in the new.

[2019-03-21 14:54] sjukeshov opened #135 "run verify command don't include new sol files added to contracts directory"
I unbox metacoin from truffle and compile it. After that run verify and it worked fine.
After that I've been trying to add some contracts from SWC Registry into contracts directory and
[code]
these contracts had warnings but compiled.
When I try to run `truffle run verify` these contracts were not included into check.

Solution was `truffle run verify --all` command but I would make it default ope

[2019-03-21 15:02] caleteeter opened #136 "Add option to allow ignore of specific warnings or errors"
Provide the option to allow comments for ignoring specific warnings or errors.  Providing functionality similar to common linters would be ideal.

[2019-03-21 15:03] caleteeter opened #137 "Unused variables are not signaled as warning."
When analyzing a contract, unused variables should be shown as a warning at minimum.

[2019-03-21 16:51] caleteeter opened #138 "Include hyperlinks for the SWC in the output"
In the reporting output, include a hyperlink to the SWCs to make it easier for users to navigate to the registry to get more details about the issue.

[2019-03-21 20:29] bmmpxf commented on #134
I've looked over the https://github.com/ConsenSys/truffle-security text content and the messaging has been updated to reflect our current agreements.

I've gone through the documentation to do same. See here: https://github.com/ConsenSys/mythx-developer-guide/pull/29

[2019-03-21 20:29] #134 closed

[2019-03-22 00:30] rocky commented on #138
I think this is covered by #121 as well as #35

[2019-03-22 00:38] rocky commented on #136
I think this should be covered by #116

[2019-03-22 15:22] nbanmp commented on #136
Closing this issue, as it is covered by #116 (and the in progress PR #139).

If you think this should be reopened, please open it again with an explanation.

[2019-03-22 15:22] #136 closed

[2019-03-22 15:47] tagomaru commented on #129
@rocky

According to my investigation, truffle itself does not support globally installed package.
So i think we do not have to resolve this.
I may send PR for supporting globally installed package to truffle-resolver itself at a later date.

[2019-03-22 15:50] #125 closed

[2019-03-22 15:52] rocky commented on #129
Yes, building on truffle-resolver is the way to go.

[2019-03-22 16:06] tagomaru commented on #129
yes i am closing this.

[2019-03-22 16:06] #129 closed

[2019-03-22 16:09] #115 closed

[2019-03-22 16:12] tagomaru commented on #118
see #132

[2019-03-22 16:12] #118 closed

[2019-03-25 11:58] #135 closed

[2019-03-25 16:18] nbanmp opened #142 "--yaml not working"
`--yaml` is not working correctly. It errors with something like:

[code]

[2019-03-25 16:35] rocky commented on #142
Yep. As Valintin would put it, that was a "known problem", (i.e. one that I knew about was waiting for someone else to discover in the hope I would have been able to fix it first.)

@nbanmp want to try you hand at it? It shouldn't be difficult to fix.

[2019-03-25 17:19] #142 closed

[2019-03-26 14:49] willclarktech commented on #136
As far as I can see, #116 doesn't cover inline cases. Example use case: I have a base contract and a test contract which extends it. In the test contract I override a `private` state variable for testing purposes, which gives rise to this warning from the tool:

[code]

I want to disable that check on that line, but not for the rest of the project (or even the rest of the file). This is common fun

[2019-03-26 18:41] #138 closed

[2019-03-26 18:42] #7 closed

[2019-03-26 22:07] rocky commented on #106
This is covered by #35 and #118

[2019-03-26 22:07] #106 closed

[2019-03-26 22:33] Ferparishuertas opened #145 "Npm libraries contracts not found"
Source "openzeppelin-solidity/contracts/math/SafeMath.sol" not found: File outside of allowed directories.
import "openzeppelin-solidity/contracts/math/SafeMath.sol";

Errror when running verify

Using npm install -g git+https://git@github.com/ConsenSys/truffle-security.git doesn solve the problem

[2019-03-26 22:33] Ferparishuertas commented on #145
Truffle compile works perfect

[2019-03-26 23:13] tagomaru commented on #145
@Ferparishuertas
Could I get your whole project ?

[2019-03-26 23:20] Ferparishuertas commented on #145
em-token git:(master) ✗ ./node_modules/.bin/truffle run verify
Compiling ./contracts/BalanceConverter.sol...
Compiling ./contracts/ComplianceRegulator/ComplianceRegulatorService.sol...
Compiling ./contracts/ComplianceRegulator/IComplianceRegulatorService.sol...
Compiling ./contracts/ComplianceRegulator/PeriodCalculator.sol...
Compiling ./contracts/EmoneyToken.sol...
Compiling ./contracts/EmoneyTok

[2019-03-26 23:21] Ferparishuertas commented on #145
If you give me a gitlab user i grant u access

[2019-03-26 23:32] tagomaru commented on #145
Here you are
https://gitlab.com/tagomaru

[2019-03-26 23:38] Ferparishuertas commented on #145
Invited ! :)

El El mié, 27 mar 2019 a las 0:32, Teruhiro Tagomori <
notifications@github.com> escribió:

--
[image: logo] <https://io.builders/>
*io.builders <http://io.builders/>*
Blockchain venture builder *Fernando París*
Product Engineer (formerly CTO) • ioBUILDERS
Mobile: +34 679 467 927
Parque Científico y Tecnológico UPM Campus de Montegancedo, s/n.
28223 Pozuelo de Alarcón, MADRID

[2019-03-27 01:02] tagomaru commented on #145
@Ferparishuertas
Thx!
This worked by setting comilers.docker of `truffle.js` with `false`.

I guess this problem is related to access control around docker.
If i found the root cause, let you know.

[2019-03-27 03:31] tagomaru commented on #145
As memorandum for me and @rocky

Now truffle-security cannot support projects with docker and npm package like zeppelin.

[Here](https://github.com/ConsenSys/truffle-security/blob/master/compat/truffle-compile/index.js#L233-L235), truffle-security sets one contract.
If docker is used for compiling, it calls this [command](https://github.com/ConsenSys/truffle-security/blob/master/compat/truffle-com

[2019-03-27 05:48] daniyarchambylov commented on #126
It is now possible to send request without `sourceList`, but response is returned with `sourceFormat === 'evm-byzantium-bytecode'`. We need `sourceFormat 'text'` for correct behavior

[2019-03-27 06:45] rocky commented on #126
Ok. If we need sourceList to get text back okay. BUT.... we (or the library) should also do somehting reasonalble when bytecode is also returned. In some cases like here where we have sourcemaps and text we should be able to figure out the right source code position. In those cases where we just don't have source code, a disassembly around the context of the offset should be shown, similar to how

[2019-03-27 06:49] rocky commented on #145
Can we detect when we have such as situation? If so, we should warn about being in such a situation.

Or perhaps, as we have done in the past, perhaps can replace and extend the particular truffle library function so that it does the kind of thing we need?

[2019-03-27 07:11] rocky commented on #133
https://github.com/barlock/web3studio-bootleg/commit/3e3a9828ebd10e3c15a590daa047fb3450f7f7cd seems to indicate that your truffle config is in a weird place relative to where your node_modulies is located. If you change the "truffle run verify" to "truffle compile" does that compile. See https://github.com/barlock/web3studio-bootleg/commit/3e3a9828ebd10e3c15a590daa047fb3450f7f7cd#r32927634

[2019-03-27 07:12] tagomaru commented on #145
@rocky
See the above explanation.
If users choose docker as compiler and the contracts imports contracts of npm package library, this can happen.

As I wrote, now truffle-security does not pass all of the source code for import to compiler unlike `truffle compile`.
(you know just passing one source code for each contract)

[2019-03-27 08:37] Ferparishuertas commented on #145
It works as you said with docker false

compilers: {
    solc: {
      version: '0.5.5',
      docker: false,
      settings: {
        optimizer: {
          enabled: true,
          runs: 200
        },
        emVersion: "byzantium"
      }
    }

[2019-03-27 08:55] rocky commented on #145
Ok. Then a suggestion to improve truffle-security is that it can look for a `docker: true` setting in the truffle configuratio.  If compilation inside `verify` fails, it can then suggest to set `docker:false`

[2019-03-27 08:56] Ferparishuertas commented on #145
Please let us know when it works with docker due it is quite faster compiling etc

thanks

[2019-03-27 08:57] rocky commented on #145
@Ferparishuertas That may take a while because this needs to be fixed on the MythX side and may even require an API change.

[2019-03-27 08:59] Ferparishuertas commented on #145
Ok Thanks. Is it normal that it takes more than 10 minutes to execute?
I just launched it 10 minutes ago and its stucked at

                      BalanceConverter |****************************************************************************************************| 100% || Elapsed: 57.5s ✓ completed
                              SafeMath |**********************************************************

[2019-03-27 09:02] rocky commented on #145
This seems like a separate issue, so please open another issue so this can be tracked. Also narrowing the issue say to HoldableToken outside fo docker etc would speed things along too. Thanks.

[2019-03-27 09:11] Ferparishuertas opened #146 "Verify is taking to much and fails with strange error"
It takes more than 10 minutes stucked , and then it fails

``Writing artifacts to ./build/mythx/contracts

                      BalanceConverter |****************************************************************************************************| 100% || Elapsed: 57.5s ✓ completed
                              SafeMath |****************************************************************************

[2019-03-27 09:12] Ferparishuertas commented on #145
Done https://github.com/ConsenSys/truffle-security/issues/146

[2019-03-27 10:26] Ferparishuertas opened #147 "Is there a way to ignore given checks?"
We are facing the following errors as verify result, and we want to skip it

/Users/fer/Documents/PERSONAL/IOBUILDERS/em-token/contracts/BalanceConverter.sol
  23:45  error  The binary exponentiation can overflow  SWC-1

``
    _newBalance = _legacyBalance.mul(10 ** uint256(ratio));

/Users/fer/Documents/PERSONAL/IOBUILDERS/em-token/contracts/TokenRegulatorService.sol
  218:16  error    The binary

[2019-03-27 13:27] rocky commented on #146
What happens if you just try `truffle run verify HoldableToken` ?

[2019-03-27 13:30] rocky commented on #147
This is related to #116, but more work will be needed when that is doine if I understand this correctly

[2019-03-27 13:45] nbanmp opened #148 "yaml validation errors"
Yaml output has validation errors.

The output https://gist.github.com/sjukeshov/82ee725b4ead63fa47cd5345ce893ecc has some validation errors like:
[code]

[2019-03-28 14:40] #145 closed

[2019-03-28 14:41] rocky commented on #145
@Ferparishuertas please let us know if this fixes things using master. If not, then please reopen

[2019-03-28 16:30] Ferparishuertas commented on #145
Yes . It works

El El jue, 28 mar 2019 a las 15:41, R. Bernstein <notifications@github.com>
escribió:

--
[image: logo] <https://io.builders/>
*io.builders <http://io.builders/>*
Blockchain venture builder *Fernando París*
Product Engineer (formerly CTO) • ioBUILDERS
Mobile: +34 679 467 927
Parque Científico y Tecnológico UPM Campus de Montegancedo, s/n.
28223 Pozuelo de Alarcón, MADRID

[2019-03-28 19:46] barlock commented on #133
Yes, `truffle-compile` runs fine. My node_modules are hoisted to the top of the monorepo.

[2019-03-28 20:12] rocky commented on #133
If I can beg your indulgence a little more, could you try with the master branch now? Recently https://github.com/ConsenSys/truffle-security/pull/149 was merged and there is a small chance that addresses this (or moves things forward). Thanks.

[2019-03-30 18:53] PaulRBerg opened #153 "False positive: "Source file does not specify required compiler version""
All of my contracts have the following pragma:

[code]

When I run `truffle-security` though, I get this:

[2019-03-30 19:10] PaulRBerg commented on #133
I can confirm that just like @barlock I have the same issue with contracts that import other contracts from `node_modules` (specifically, from `openzeppelin-solidity`).

Same behaviour when installing from npm (version 1.3.1) and when pulling from master and `npm link`-ing the plugin on my local machine.

[2019-03-30 19:31] PaulRBerg opened #154 "How to ignore specific folders or contracts?"
I know about #116, but it's not clear to me if the ability to have a `.gitignore`-like functionality is on the roadmap. That would be very helpful in scenarios like importing a community-vetted project like `openzeppelin-solidity`.

[2019-03-31 09:55] streichsbaer opened #155 "`truffle run verify` is not returning results"
I don't get any results when running `truffle compile` and `truffle run verify` against the mythx-playground exercises (e.g exercise2). I have tried this on MacOS and in an Alpine docker container with the same results.

[code]

The version numbers of `truffle` and `truffle-security` are:

[code]

[code]

I have added the `plugins: [ "truffle-security" ]` into the truffle.js and truffle-config.js

[2019-04-01 12:20] #148 closed

[2019-04-01 17:13] barlock commented on #133
Sorry for the slow responses. Yes, using the master branch resolves this issue 🎉

[2019-04-01 18:18] nbanmp commented on #133
@barlock The next release will be today or tomorrow. :tada:

As master currently resolves this, I will be closing this issue. If anything comes up, please reopen it or create a new issue.

[2019-04-01 18:18] #133 closed

[2019-04-02 16:06] elenadimitrova opened #157 "TypeError: Cannot read property 'details' of undefined"
Since upgrading to  `1.3.2` `truffle verify` errors with `Cannot read property 'details' of undefined`, full output below:
[code]

[Link to Circle CI build which shows the above](https://circleci.com/gh/JoinColony/colonyNetwork/7417)

Version report shows:
[code]

This broke post upgrade from `1.3.1` which was needed because the new version provided a fix for https://github.com/ConsenSys/truffle-s

[2019-04-02 16:20] tintinweb opened #158 "exception `TypeError: Cannot read property 'length' of undefined`"
Hi,

as noted in discord I get an exception since the last update

[code]

[code]

ping me if you need more details about the codebase.

cheers,
tin

[2019-04-02 20:02] elenadimitrova commented on #157
Looks the same as #158

[2019-04-03 05:45] daniyarchambylov commented on #155
@streichsbaer I've used your Dockerfile and installed latest truffle-security. Everything works for me.
[code]
[code]
Complete output: https://gist.github.com/daniyarchambylov/e42932336285d0994fbdb7e7dd224c01

Can you try again and verify whether issue is fixed or not?

[2019-04-03 07:35] elenadimitrova commented on #157
I tried going back on the version and pinning us to `1.3.1` but still got this error. It appears the underlying package versions have changed.

The 1.3.1 version that did work:
[code]

The 1.3.1 version that doesn't work:
[code]

It's bad if we can't reliable pin the package version..

[2019-04-03 14:59] nbanmp opened #160 "Fails to analyze Solidity 0.4.24 and 0.4.25 contracts in 1 directory - Document how to specify solc version"
0.4.24 https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-115#mycontractsol

0.4.25 https://smartcontractsecurity.github.io/SWC-registry/docs/SWC-115#mycontract-fixedsol

[code]

Document `truffle-config`'s solc version specification.

[2019-04-03 15:03] nbanmp opened #161 "Document Windows installation Process"
`npm install --global --production windows-build-tools` / follow node-gyp install instructions

[2019-04-03 15:06] nbanmp opened #162 "Doesn't analyze 2 contracts with same name"
[code]

[code]

As you can see proxy_fixed.sol file was excluded from analysis, which should be fixed. As a root cause could be thing that proxy.sol and proxy_fixed.sol *contracts had same contract name *Proxy

[2019-04-03 15:09] nbanmp commented on #161
Also, Document setting environment variables for Windows

[2019-04-04 06:14] daniyarchambylov opened #163 "Truffle Security is trying to download compiler multiple times"
In a project with many solidity files running `truffle run verify` will try to download solc compiler as many times as number of solidity files found in contracts folder
[code]

[2019-04-04 13:44] nbanmp opened #166 "Not showing all issues"
Some issues are not reported, such as the warning when the trial user is being used.

[2019-04-05 08:20] streichsbaer commented on #155
Thanks @daniyarchambylov. Turns out it was an issue with permissions on my side.
Closing this issue.

[2019-04-05 08:20] #155 closed

[2019-04-05 14:25] nbanmp commented on #116
Thank you so much @rcullito !

@b-mueller will pay out the bounty shortly.

[2019-04-05 14:25] #116 closed

[2019-04-05 14:30] rcullito commented on #116
thanks @nbanmp !

[2019-04-05 15:33] #163 closed

[2019-04-05 19:56] Gershon-A opened #168 "Problem with path on Windows"
Hello,
the new version has some path problem in windows.
After upgrade from v 1.3.1 to 1.3.2
truffle run verify start to return errors:
[code]
Contract have
import "../node_modules/zos-lib/contracts/Initializable.sol";
Reverted to 1.3.1 and all start work.

[2019-04-08 10:24] #162 closed

[2019-04-08 17:25] hardlydifficult commented on #158
We are hitting the same trying to run truffle-security for Unlock Protocol.  Let me know if you need a repro, I could push a branch.

[2019-04-08 19:01] nbanmp commented on #157
I believe this issue has been fixed in the development version of armlet. We should get a working release out shortly.

[2019-04-08 20:58] #160 closed

[2019-04-09 18:55] nbanmp commented on #157
@elenadimitrova Can you try again with latest `truffle-security` release v1.3.3? (which should use armlet v2.4.0).

[2019-04-09 18:57] nbanmp commented on #158
@elenadimitrova @tintinweb Can you try again with latest `truffle-security` release v1.3.3? (which should use armlet v2.4.0).

If this is still an issue, a repro would be appreciated.

[2019-04-10 08:20] elenadimitrova opened #173 "truffle-security.json is mandatory configuration since 1.3.3"
The documentation states that

but it doesn't seem mandatory, yet when I run `truffle run verify --debug=2` it produces the following error:

[code]

This could be an issue with the `--debug` flag in particular but without it I just get
[code]

`truffle run verify --version` output
[code]

[2019-04-10 08:32] elenadimitrova commented on #173
Event after adding the configuration options in a `truffle-security.json`, compilation fails with same `exit code 1`

[2019-04-10 08:51] elenadimitrova commented on #157
Thanks @nbanmp this is solved but I bumped into another set of issues I am logging separately as they appear unrelated. Closing this.

[2019-04-10 08:51] #157 closed

[2019-04-10 08:54] elenadimitrova commented on #173
Surprisingly only _after_ disabling docker in `truffle.js` does it compile the contracts. Maybe related to https://github.com/ConsenSys/truffle-security/issues/145?

[2019-04-10 09:04] elenadimitrova opened #174 "error: Maru:Error: Errors returned by the Solidity compiler. Check your code for syntax errors and that you have submitted all imports."
This error has persisted in testing for us using v 1.3.1 through to 1.3.3 so it appears a much earlier problem. Running `truffle run verify` produces the following error and exists with `error Command failed with exit code 1.`

![Screen Shot 2019-04-10 at 11 51 50](https://user-images.githubusercontent.com/703848/55865442-130f6780-5b87-11e9-9570-8eb60c0088a1.png)

Output of the same command with `

[2019-04-12 01:57] daniyarchambylov commented on #166
Fixed

[2019-04-12 01:57] #166 closed

[2019-04-12 03:17] daniyarchambylov commented on #173
@elenadimitrova thanks for investigating issue. I'll take a look at it!

[2019-04-12 03:44] daniyarchambylov commented on #173
@elenadimitrova I've ran `truffle run verify` with docker enabled and disabled and I don't have any problem.  `truffle-security.json` file is optional. I'm sorry for misleading message. We'll improve it :)
We have also put a new release `1.3.4`. Please try it and let us know if release fixes issues

[2019-04-12 04:18] daniyarchambylov commented on #147
@Ferparishuertas  Could you please verify whether passing `--swc-blacklist` works for you. PR #139 should resolve it. Thanks!

[2019-04-12 08:30] elenadimitrova commented on #173
@daniyarchambylov  with `1.3.4` it compiles successfully but it still emits the error:

[code]

[2019-04-12 08:30] elenadimitrova commented on #174
Confirming the error persists with v`1.3.4`.

[2019-04-12 15:40] nbanmp opened #178 "Changing Compiler Version Does Not Recompile"
If the compiler version is changed in `truffle-config.js`, the contracts will not be recompiled unless the `build/` directory is cleared. Perhaps compiling everything each time would be an easier solution to the many its-not-always-recompiling bugs.

[2019-04-15 04:46] daniyarchambylov commented on #173
Thanks @elenadimitrova! There is PR#176 open to remove error message.

[2019-04-15 06:02] daniyarchambylov commented on #174
@elenadimitrova We had lots of improvements on backend over the weekend. Could you please run analysis? Should be fine now.

[2019-04-15 07:15] elenadimitrova commented on #174
Tested with v1.3.4. The `Maru:Error` is gone but the following still remains:
[code]

[2019-04-23 07:45] glesaint opened #186 "Incorrect line:column numbers"
(Not sure wether this is the same as https://github.com/ConsenSys/truffle-security/issues/66)

In some cases, the line:column numbers reported by truffle run verify do not correspond to actual code locations.
See this repository to reproduce the issue: https://github.com/glesaint/truffle-security-issue

See a report extract + corresponding source location.
[code]
Lines 54 to 64:
[code]

[2019-04-25 06:02] daniyarchambylov commented on #186
@glesaint @b-mueller new version  of truffle-security has been released. The release includes fix which corrects line numbers in reports #185. Could you please share feedback whether issue still present?

[2019-04-25 09:32] glesaint commented on #186
@daniyarchambylov, thanks this is resolved with 1.3.6

[2019-04-25 09:32] #186 closed

[2019-04-26 02:44] #161 closed

[2019-05-02 08:43] #147 closed

[2019-05-02 08:46] daniyarchambylov commented on #146
Closing issue due to inactivity

[2019-05-02 08:46] #146 closed

[2019-05-06 17:54] nbanmp opened #192 "Compile Errors say "ParsedContract.sol""
All compile errors s occur in a file named `ParsedContract.sol`, which is confusing. It would be good to keep the same contract name or at the very least to replace the name in the compilation error message.

[2019-05-07 22:09] nbanmp commented on #192
It doesn't actually look like its all of them, just most.
[code]

[2019-05-07 22:10] nbanmp commented on #168
This may have been fixed in a recent update. Could you try the latest `truffle-security` and let us know if it is still not working?

[2019-05-07 22:10] nbanmp commented on #158
I'm going to close this for now, If this is still not working, please reopen the issue.

[2019-05-07 22:10] #158 closed

[2019-05-07 22:12] nbanmp opened #195 "Blank .sol files cause compilation to error."
[code]

[2019-05-13 10:45] #195 closed

[2019-05-15 19:42] nbanmp opened #200 "When an imported contract is changed, the parent isn't recompiled"
When an imported contract is changed, the parent isn't recompiled.

[2019-05-22 09:02] elenadimitrova opened #203 "swc-113 for delegate proxy pattern return"
This is likely a false positive for the swc-113 rule, raised on line
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/EtherRouter.sol#L58

[2019-05-22 09:02] elenadimitrova opened #219 "swc-113 for delegate proxy pattern return"
This is likely a false positive for the swc-113 rule, raised on line
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/EtherRouter.sol#L58

[2019-05-22 09:37] elenadimitrova opened #204 "False positive error swc 101 on pragma statement"
There is a SWC-101 error thrown at a pragma declaration for [this](https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/PatriciaTree/Bits.sol#L1) contract. Note that the error is thrown also on using a fixed pragma version, e.g. `pragma solidity 0.5.8;`

[2019-05-23 07:19] elenadimitrova opened #206 "Connection timeout and error: Server temporarily overloaded and cannot process your request"
Our last few verify runs fail with `Server temporarily overloaded and cannot process your request; please try again later.` followed by a `Failed in retrieving analysis response, HTTP status code: 401. UUID: 8de33ad2-3226-48f2-8c16-7dfa0880826f`

Examples from the last 2 Circle CI builds below:

https://circleci.com/gh/JoinColony/colonyNetwork/8229

[code]

https://circleci.com/gh/JoinColony/colon

[2019-05-23 17:31] nbanmp commented on #204
There is a fix in progress for this bug. It is almost to production.

[2019-05-27 13:01] PaulRBerg opened #212 "How to ignore lines?"
Other tools such as `eslint` have the ability to ignore specific lines by prepending the code with a comment (for example, `eslint-disable-next-line`).

There seems to be possible to exclude specific SWC codes, but I haven't seen anything in the documentation about ignoring lines. Did I miss that or is it not currently possible?

[2019-05-27 15:27] PaulRBerg opened #213 "HTML report is not generated properly"
Titles still refer to "ESLint" and links point to their website:

[code]

That should instead be:

[code]

[2019-05-28 16:46] nbanmp commented on #213
:rage: This is because of eslint trying to be helpful, and assuming that someone would only report eslint issues. We need to edit the eslint html template to use the correct url.

[2019-05-28 16:47] #173 closed

[2019-05-28 16:47] nbanmp commented on #173
If this is still an issue, feel free to reopen the issue with more details.

[2019-05-29 04:28] #192 closed

[2019-06-11 23:03] nbanmp commented on #204
Closing, as I believe this is resolved. Please reopen this if it is still an issue.

[2019-06-11 23:03] #204 closed

[2019-06-11 23:07] nbanmp commented on #168
Closing, as relative imports on windows should have been fixed in https://github.com/ConsenSys/truffle-security/pull/218 and/or a prior PR. If this is still an issue, please reopen it.

[2019-06-11 23:07] #168 closed

[2019-06-11 23:11] nbanmp commented on #126
Closing as stale; MythXJS will be responsible for sending the optimal data.

[2019-06-11 23:11] #126 closed

[2019-06-11 23:11] nbanmp commented on #121
Done!

[2019-06-11 23:11] #121 closed

[2019-06-11 23:14] nbanmp commented on #95
Closing as this is very low priority. If anyone believes this is worth implementing, please reopen and explain.

[2019-06-11 23:14] #95 closed

[2019-06-11 23:18] nbanmp commented on #219
Actually... it may have been a truffle security issue... 😅 . There were a couple of similar bugs causing issues like this to occur, some in the backend, and some in truffle-security. I believe the issue has been resolved by now. Please reopen this if not.

[2019-06-11 23:18] #219 closed

[2019-06-14 10:54] elenadimitrova commented on #212
In the [colonyNetwork](https://github.com/JoinColony/colonyNetwork) repo we solved this with our own local rule ignores, similar to `eslint`: e.g. `// ignore-swc-103` appended to the end of the line you want to ignore in the contract. Then run the mythril json report through [this](https://github.com/JoinColony/colonyNetwork/blob/develop/scripts/process-truffle-security.js) script that compares th

[2019-06-14 12:20] elenadimitrova opened #222 "Different results reported when running analysis on all contracts as opposed to individually"
Different results reported when running analysis on all contracts as opposed to individually. Below is an extract of the `truffle run verify --mode quick --style json` run against all contracts, showing the errors reported on the `IColonyNetwork` contract.

[code]

When analysing the contract on its own via `truffle run verify --mode quick --style json IColonyNetwork.json` the three `SWC-107` mess

[2019-06-18 15:06] nbanmp commented on #222
Can you check what version of truffle-security you are using?

[2019-06-18 15:14] nbanmp commented on #213
This is fixed in the version on master! A new release will likely be out in a couple days.

[2019-06-18 15:14] #213 closed

[2019-06-18 15:15] elenadimitrova commented on #222
I've tried this on both `1.5.0` and `1.5.1`

[2019-06-18 15:59] elenadimitrova commented on #222
I've just confirmed this is not an issue in `v1.4.2`

[2019-06-19 09:58] elenadimitrova opened #223 "False positive SWC-129 warning"
`reputationChange = userChildReputationValue * -1;`
produces a SWC-129 warning aUnary operation directly after an assignment`

Although if we invert the multiplication the warning disappears.

See https://github.com/JoinColony/colonyNetwork/pull/623/commits/bb9e31dd8a1b723c8639533aeeb527a2c6d770eb

[2019-06-19 10:14] elenadimitrova opened #224 "False positive SWC-123 warning"
The following lines falsely produce SWC-123 warnings

`contract OneTxPaymentFactory is ExtensionFactory, ColonyDataTypes {`
`contract OldRolesFactory is ExtensionFactory, ColonyDataTypes {`

see https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/extensions/OneTxPaymentFactory.sol#L28
and
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/extensions/OldRolesFactory.s

[2019-06-19 13:42] elenadimitrova opened #225 "Bad results from interface contracts"
Generally interface contracts are just function signature definitions without any logic, yet there are the following warnings generated for the interface contracts here https://github.com/JoinColony/colonyNetwork/tree/develop/contracts

Tests were executed with `v1.4.4`. We have verified that this issue **does not** exist in `v1.4.2` so it appears to have been introduced in `v1.4.4`. Version 1.5.x

[2019-06-20 09:49] daniyarchambylov commented on #222
Running `truffle run verify --mode quick --style json`, `truffle run verify --mode quick --style json IColonyNetwork` and `truffle run verify --mode quick --style json contracts/IColonyNetwork.sol` all return only `SWC-103`

[code]

[code]

[2019-06-20 10:44] elenadimitrova commented on #222
I just reproduced it here https://circleci.com/gh/JoinColony/colonyNetwork/8796

The result for `/home/circleci/colonyNetwork/contracts/IColonyNetwork.sol` includes all 4 warnings:
[code]

[2019-06-20 10:46] elenadimitrova commented on #222
Essentially the problem is that when you run just a single contract analysis it returns the one `SWC-103` warning, whereas when you run the entire set of contracts, it returns these additional 3 `SWC-107` instances.

[2019-06-21 20:02] nbanmp commented on #224
This is likely the same  or similar issue to #222, causing a real issue in an imported contract to be reported in a different contract.

[2019-06-21 20:03] nbanmp commented on #225
This also probably has the same root cause as #222. Thanks for bearing with us!

[2019-06-26 16:25] nbanmp commented on #222
@elenadimitrova I've been having trouble reproducing the issue as well. I'll continue to look and compare against your ci log. If you could run `truffle run verify --style json --debug=2` and upload the contents somewhere (GitHub gists or something), that would be helpful.

Also, was the error occuring in quick mode, or only in full mode?

Also, a side note: you can add the `--no-progress` arg to

[2019-06-27 09:59] elenadimitrova commented on #222
Just as a side note here you can see three consecutive runs (the last 2 of which is close succession) showing significantly different results for the same analysis.
https://circleci.com/gh/JoinColony/colonyNetwork/8796
https://circleci.com/gh/JoinColony/colonyNetwork/8948
https://circleci.com/gh/JoinColony/colonyNetwork/8949

[2019-06-27 11:47] elenadimitrova commented on #222
I've run build with the debug options you asked for @nbanmp and you can download the output directly from CI here https://circleci.com/gh/JoinColony/colonyNetwork/8950

[2019-06-27 17:15] nbanmp commented on #222
That fix was introduced in v1.4.3, which is making me really confused. Because it is working for you before that version, but not working after?

Can you triple check that circleci is running the latest truffle security version?

[2019-06-27 18:20] elenadimitrova commented on #222
Definitely running on v1.5.1. Outputting that explicitely now, see `Getting truffle-security version number` step in CI reporting:
[code]

I am going to explicitly step down through each version from 1.5.1 -> 1.5.0 -> 1.4.4 -> 1.4.3 on this branch to triple make sure it breaks on 1.5.x. You can follow the builds here
https://circleci.com/gh/JoinColony/colonyNetwork/tree/repro%2Ftruffle-security-is

[2019-06-28 21:43] nbanmp commented on #222
Yes! Thanks for all that work! I finally managed to reproduce the issue on my machine.
[code]

[2019-06-28 22:23] #225 closed

[2019-06-28 22:30] nbanmp commented on #222
@elenadimitrova The bug should be fixed now. Can you try truffle-security `v1.5.2` and close this issue if it works?

[2019-07-01 07:30] elenadimitrova commented on #224
This error still persists even after upgrading to 1.5.2 which does fix #222 , see failing build here https://circleci.com/gh/JoinColony/colonyNetwork/8986.

Please reopen.

[2019-07-01 07:44] elenadimitrova commented on #222
🎉  https://circleci.com/gh/JoinColony/colonyNetwork/8987

[2019-07-01 07:44] #222 closed

[2019-07-01 14:31] nbanmp commented on #224
:(

[2019-07-01 16:46] nbanmp commented on #224
Okay, I was able to sync up with someone who knows what is happening here.

What is happening is that the fuzzer tries to pass the address of the contract itself as _colony and tries to call function hasUserRole on itself which will fail in the fall-back function, which is compiler-generated. The tool then reports two locations for the issue: (1) the location of the call site (i.e., line with hasU

[2019-07-02 06:30] elenadimitrova commented on #224
This makes sense and would explain a few more instances of where this is happening for us, list below:

https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/ColonyFunding.sol#L25
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/ContractRecovery.sol#L28
https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/TokenLocking.sol#L29

[2019-07-10 08:05] celeduc opened #228 "eslint 6.0.1 incompatible"
Using truffle-security with eslint 6.0.1 causes the following error when attempting to use `truffle run verify`:
[code]
Downgrading to eslint 5.16.0 resolves this error.

Note: this error happens whether a truffle-security.json file is present or not.

[2019-07-17 02:33] jbroudou commented on #223
The following statement is also producing this false positive

`test1 = -1;`

[2019-07-19 11:34] elenadimitrova opened #229 "False positive SWC-128"
All instances of the `SWC-128` warnings we see in the Colony Network are incorrect. Sample can be found in this nightly build https://circleci.com/gh/JoinColony/colonyNetwork/9202

[code]

Failing file:  /home/circleci/colonyNetwork/contracts/Resolver.sol
{ fatal: false,
  ruleId: 'SWC-128',
  message:
   'Potential denial-of-service if block gas limit is reached. A storage modification is execute

[2019-07-22 16:56] b-mueller commented on #229
Thanks @elenadimitrova. We'll look into it!

[2019-07-30 13:31] maurelian opened #230 "Running in Free mode"
**Expected behaviour:** If I have my MythX credentials in my shell env, I get the "Premium Analysis"

**Actual behaviour:** When the tool runs, it says I'm in "Free Mode".

[code]

Does this mean I'm getting weaker analysis?

[2019-08-15 13:20] ArnSch opened #231 "Error: unable to verify the first certificate"
It seems like the SSL certificate for https://mythx.io/ has expired/is invalid, which is causing the CLI to fail.

[2019-08-16 12:57] ArnSch commented on #231
Resolved

[2019-08-16 12:57] #231 closed

[2019-08-22 14:45] nbanmp commented on #230
Sorry for the super late response!

Your credentials seem to only be correlated with a Free account.

The modes are `Trial` (no username/password), `Free` (Non-paying account), and `Premium/Pro` (Paid account). Free mode has limitations compared to the paid account, but during the beta, the only limitation is rate limiting.

You can see what the plan limitations will be when the beta is over here:

[2019-08-22 14:45] #230 closed

[2019-08-22 14:53] nbanmp commented on #223
This should be resolved - I was unable to reproduce it anymore myself. If not, please complain and I will reopen this.

[2019-08-22 14:54] #223 closed

[2019-09-06 15:50] area opened #234 "Cannot read property issues of undefined"
Consistently seeing this error running against our codebase (see e.g. https://circleci.com/gh/JoinColony/colonyNetwork/9694) with a specific file (the library DSMath). A UUID of a run that shows this is `a7f3f1c8-57f0-4026-8869-54e9618d9eab`

The error is thrown in `remapMythXOutput`. The `mythObject` that is passed in is:

[code]
The error occurs because of how `mapped` is set up [here](https://g

[2019-09-06 16:50] danielrea commented on #234
Hi area,

Are you currently running the latest version ( v1.5.5 ). If not can you update and let me know if you still get this issue.

[2019-09-06 16:56] area commented on #204
We are now seeing this on [this contract](https://github.com/JoinColony/colonyNetwork/blob/develop/contracts/Resolver.sol), being reported as line 5, columns 15-27 and line 6 column 51 to line 7 column 13...

[2019-09-09 08:54] area commented on #234
It does appear we are running an older version. Closing for now assuming that was the issue.

[2019-09-09 09:36] gpersoon opened #235 "npm install truffle-security doesn't work with node 12.x"
With node 12.10 installed, trying to install truffle-security shows lots of errors.
With node 10.16.3 it installs fine

Environment: windows 10

[2019-09-09 09:37] gpersoon opened #236 "Error: Cannot find module 'truffle-error'"
The first time I run "truffle run verify" I got the error:
Error: Cannot find module 'truffle-error'

Solved by: npm install -g truffle-error

Environment: windows 10, node 10.16.3

[2019-09-09 09:41] gpersoon opened #237 "Parse error of JWT login request: No valid username provider (HTTP status 400)"
When running truffle run verify with the environment variables
[code]
I got the error message: Parse error of JWT login request: No valid username provider (HTTP status 400)
After checking I noticed I  had a trailing space at the MYTHX_ETH_ADDRESS, which was causing the problem.

Environment: Windows 10, node: 10.16.3

[2019-09-09 09:47] gpersoon opened #238 "Parse error of JWT login request: Wrong credentials - check your username and password (HTTP status 400)"
I tried to follow the instructions at
https://docs.mythx.io/en/latest/tools/truffle/index.html#accounts-and-access

[code]

And setup my password as:
[code]

Then I got the error: Parse error of JWT login request: Wrong credentials - check your username and password (HTTP status 400)

I turns out the quotes (')  have to be removed  (e.g. the documentation is misleading)

Environment: windows 10, n

[2019-09-09 13:41] danielrea commented on #236
Hi gpersoon,

This will be fixed shortly in the next version. Thanks.

[2019-09-09 13:49] area commented on #234
Reopening - we are seeing the same error on 1.5.5, though I am unable to find a minimum working example now, unfortunately. I've done a little investigation / logging which will hopefully point you in the right direction though.

[2019-09-09 13:50] area commented on #234
Reopening - we are seeing the same error on 1.5.5, though I am unable to find a minimum working example now, unfortunately. I've done a little investigation / logging which will hopefully point you in the right direction though.

[2019-09-09 13:58] danielrea commented on #237
I will provide more descriptive errors with next version. Thanks for the submission

[2019-09-09 13:58] #237 closed

[2019-09-09 14:18] danielrea commented on #234
Hi area,
Thanks for checking on this version, and for looking into it in more detail. This is very similar to an issue that has been fixed already in the next major release. 1.6.0 should fix this issue and should be released within the week.

Sorry for any inconvenience

[2019-09-09 14:25] danielrea commented on #238
Hi gpersoon, Thank you I have requested the relevant documentation change.

[2019-09-09 14:25] #238 closed

[2019-09-09 15:53] area commented on #234
Great, I'll hang tight until that release then.

[2019-09-10 15:16] danielrea commented on #234
@area do you have these contracts public that I can test with?

[2019-09-11 09:15] area commented on #234
Yes, they can be found at https://github.com/JoinColony/colonyNetwork/. To reproduce, after cloning the repository:

[code]

(I don't think many of those flags are required to see the error, but including for completeness)

[2019-09-15 12:18] troggy commented on #236
this issue shouldn't be closed — still not fixed

[2019-09-19 12:36] yuyasugano opened #241 "Cannot find module 'truffle-error' and needed to install it manually."
Hi, I installed truffle v5.0.36 and truffle-security v1.5.5, and ran truffle run verify. An error 'Cannot find module 'truffle-error' returned and installing 'truffle-error' (v0.0.5) manually was a solution.

$ truffle version
Truffle v5.0.36 (core: 5.0.36)
Solidity v0.5.8 (solc-js)
Node v11.10.0
Web3.js v1.2.1

$ truffle run verify
Error: Cannot find module 'truffle-error'
    at Function.Module.

[2019-10-01 16:02] #241 closed

[2019-10-01 16:03] #235 closed

[2019-10-01 16:03] danielrea commented on #236
Thanks for reporting. This should be fixed in 1.6.0. Open this again if you still have issues.

[2019-10-01 16:03] #236 closed

[2019-10-01 16:03] danielrea commented on #234
Sorry for the delay. Can you try this with 1.6.0 and reopen if it's not resolved.

[2019-10-01 16:03] #234 closed

[2019-10-03 04:22] thec00n opened #242 "Analyzing contracts by name"
For us it's important to be selective about which contracts should be analyzed. Analyzing all contracts would simply take to too long. Could you clarify why this is deprecated?

`DEPRECATION WARNING: Found contract named "Bits". Analyzing contracts by name will be removed in a later version.`

[2019-10-03 04:25] thec00n opened #243 "Unexpected Error occured. return value of analyze should be either 0 or 1"
## Description
I am running the latest truffle security and every contract analysis seems to throw the following error message `Unexpected Error occured. return value of analyze should be either 0 or 1`

[code]

[2019-10-03 04:35] thec00n opened #244 "Option to create JSON only results"
## Description
As a MythX user I would like to have a command line option the allows me retrieve the results of the analysis in JSON format so that I can post process them. In the current version there is a JSON output option `--style json`. The problem is that if STDOUT is used to fetch the JSON result it will also contain log output from truffle and other places.

## Solution
Add an option to sa

[2019-10-03 10:08] area commented on #244
We currently work around this by piping the output: `| grep '^\[{"' > truffle-security-output.json` and then using that file as the input to our post processing.

[2019-10-04 01:35] thec00n commented on #244
Thanks @area, nice work around.

Having an inbuilt option to return JSON only output is still something worth considering.

[2019-10-04 11:13] danielrea commented on #243
Fixed in v1.6.1

[2019-10-04 11:13] #243 closed

[2019-10-04 15:15] area opened #245 "False positive SWC-101"
With the following contract

[code]

running `yarn truffle run verify --mode quick ./contracts/Resolver.sol` I get the report:

[code]

replacing `sig` with a `uint` causes the error to disappear. This is minimum working example from a larger contract, where the line numbers were very wrong in the report (referring to a comment block at the start of the file with licensing information).

[2019-10-04 15:33] nbanmp commented on #245
Thanks for reporting the issue!

We are looking into the false positive.

[2019-10-04 16:14] nbanmp commented on #245
Here is an even simpler example:
[code]

It looks like there is a real integer overflow occurring here, but it is generated by the compiler.

We will decide whether or not we want to hide those overflows in the response, as they are unfixable by the user.

[2019-10-14 13:52] Anthler opened #246 "Namespace conflict with truffle-plugin-verify plugin"
truffle run verify [MyContract.sol] is the same plugin command used by the truffle-plugin-verify plugin. This causes conflict when you have both plugins installed
This is the plugin:
https://github.com/rkalis/truffle-plugin-verify

[2019-10-22 11:15] jamesmorgan opened #247 "Unable to run - stylish not installed correctly?"
After installing and running on a new truffle project I seem to always get the following error:

[code]

[2019-10-24 07:50] b-mueller commented on #247
Same problem with `top` also:

[code]

[2019-11-22 12:02] SDVII commented on #247
bump

[2019-12-04 11:23] enderphan94 opened #249 "Failed at the nodent-runtime@3.2.1 install script."
I ran this command `sudo npm install -g git+https://git@github.com/ConsenSys/truffle-security.git`
OS: MacOS
And it throws the error:

npm ERR! errno 1
npm ERR! nodent-runtime@3.2.1 install: `node build.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the nodent-runtime@3.2.1 install script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

n

[2019-12-04 16:44] danielrea commented on #249
Does this also happen when installing from the npm release?

[2019-12-04 16:45] danielrea commented on #247
This should be fixed in v1.6.2 please reopen if you are still having any issues.

[2019-12-04 16:45] #247 closed

[2019-12-04 16:45] danielrea commented on #246
You can now use truffle run mythx from v1.6.2 onwards.

[2019-12-04 16:45] #246 closed

[2019-12-04 16:47] danielrea commented on #244
Try adding --no-mythx-logs with version 1.6.2 and reopen if you have any issues.

[2019-12-04 16:47] #244 closed

[2019-12-04 16:49] danielrea commented on #228
We now use 5.16.0 by default.

[2019-12-04 16:49] #228 closed

[2019-12-04 16:50] danielrea commented on #174
This should be fixed. Please reopen if you are having issues.

[2019-12-04 16:50] #174 closed

[2019-12-05 08:57] enderphan94 commented on #249
@danielrea  yes, either of them didn't work.

[2019-12-27 07:29] dxcbobby commented on #163
Is that problem solved？ Meet same problem when I try to use 'truffle compile' in Windows PowerShell

[2020-01-22 15:00] Eknir opened #252 "ParserError: Source "ВXuffle__NotFound.sol" not found: Callback not supported."
I get the following error when running `truffle run verify`:

[code]

My environment:
`solc version 6.1`
`truffle-security version 1.6.2`

contract directory:
[code]
All contracts are with `pragma solidity ^0.6.1;`

If I delete the file ContentManagerI.sol, I get still an error:
[code]

Just running `truffle compile` works without problems

[2020-02-18 03:34] krzysu commented on #252
I have the same issue when verifying with truffle with solidity configured to 0.6.2 but works fine with my truffle's default version - solidity 0.5.16.

Truffle version: 5.1.9

truffle-config.js

[code]

[2020-04-03 16:08] #252 closed

[2020-04-30 02:08] haydenyoung opened #255 "No tag for 1.7.2 release. Cannot install via NPM"
I'm running npm i truffle-security@latest but it always pulls 1.7.1, never 1.7.2.

Looking at npmjs, latest version is 1.7.1.

Searching tags from https://github.com/ConsenSys/truffle-security shows no 1.7.2.

Strangely, though, https://github.com/ConsenSys/truffle-security/tags lists 1.7.2.

[2020-05-15 14:21] jamesmorgan commented on #255
I also get this - hoping once fixed the package will include a fix for the following - https://github.com/ConsenSys/truffle-security/pull/254

[2020-06-06 12:12] simonDos commented on #255
You could get the source code for the 1.7.2 release here:
https://github.com/ConsenSys/truffle-security/releases

run
`npm pack`

copy the new file to your project and use the locally built package in your project like this
`"truffle-security": "file:truffle-security-1.7.2.tgz"`

Reference:
https://stackoverflow.com/questions/55560791/build-and-use-npm-package-locally

Worked fine for me :)

[2020-06-18 12:12] joaosantos15 commented on #255
Hey folks, we just published `1.7.3`. Sorry for the long ping but we've been working on some new and exciting stuff: `truffle-security` is being deprecated soon. To continue running MythX scans on truffle projects you should now [use the MythX CLI](https://github.com/dmuhs/mythx-cli) :)

Here is a quick summary of the feature set:
- Native support for submitting compiled Truffle projects
- Automat